@font-face {
    font-family: "Helvetica 25 UltraLight Regular";
    src: url('../../../fonts/HelveticaUltraLt_0.ttf');
  }
.titulo1{
    width: 55%;
    margin: 0;
    left: 30%;
    padding-top: 13%;
    display: flex;
    color: white;
    background-color:transparent;
    font-family: "Helvetica 25 UltraLight Regular";
    font-size: 40px;
    justify-content: space-evenly;
}
.subtitulo{
    width: 55%;
    margin: 0;
    left: 30%;
    padding: 0%;
    color: white;
    background-color:transparent;
    font-family: "Helvetica 25 UltraLight Regular";
    font-size: 40px;
    justify-content: space-evenly;
}