.App {
  text-align: center;
}
.navbar{
  background: transparent;
  position: absolute;
  display: inline-block;
}
.home{
  height: 1000px;
  background-image: url("./images/index-image.jpg");
}
.register{
  height: 1000px;
}
.aboutMe{
  height: 1000px;
  background-color: #29abe2;
}
.listNew{
  height: 250px;
  background-image: url("./images/rodape-desktop.jpg");
}
