.Listadecontatos{
    height: 700px;
    background-color: white;
}
.tabela{
    padding-top: 50px;
}
.h1{
    font-family: Helvetica 25 UltraLight Regular;
    color:#29abe2;
    padding-bottom: 4%;
}
 .linha2, .linha3, .linha4{
    padding-top: 10px;

}

